$navbar-height: 14.5rem; // TUD navbar height + normal navbar height
#banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    margin-top: calc($navbar-height*(-1));
    padding-top: 0.1rem;
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.1) 25%);
    .wrapper {
        .text-content {
            margin-bottom: 12rem;
            gap: 2rem;
            width: 55%;
        }
    }
    .cube-unfolded {
        position: absolute;
        right: -12rem;
        top: 60px;
    }
    &.slim {
        height: 50vh;
        .wrapper {
            .text-content {
                margin-bottom: 4rem;
                gap: 1rem;
                width: 100%;
            }
        }
    }
}
.no-big-cube {
    #banner {
        .cube-unfolded {
            display: none;
        }
    }
}