@use "colors";
@use "mixins";

$navbar-height: 14.5rem; // TUD navbar height + normal navbar height
#banner {
    display: flex;
    flex-direction: column;
    align-self: end;
    color: colors.$white;
    button {
        font-size: 2.75rem;
    }
    .wrapper {
        position: relative;
        .text-content {
            margin-bottom: 12rem;
            gap: 2rem;
            width: 55%;
            @include mixins.mobile {
                width: auto;
            }
            @include mixins.narrow {
                width: auto;
            }
        }
    }
    &.slim {
        height: fit-content;
        .wrapper {
            .text-content {
                margin-bottom: 4rem;
                gap: 1rem;
            }
        }
    }
}