@use "colors";

.carousel-wrapper {
    .carousel {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        .slide {
            min-width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 3rem;
            transition: all 1s ease-in-out;
            .item {
                position: relative;
                justify-content: center;
                &:hover {
                    filter: none;
                }
                img {
                    width: 100%;
                    height: auto;
                }
                &.labeled {
                    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
                    img {
                        z-index: -1;
                    }
                    .item-label {
                        position: absolute;
                        overflow: hidden;
                        bottom: 1.5rem;
                        left: 0;
                        padding: 0rem 1rem;
                        max-height: 50%;
                    }
                }
            }
        }
    }
    .carousel-controls {
        display: grid;
        grid-template-columns:  1fr auto;
        gap: 2rem;
        .slide-dots {
            display: flex;
            flex-direction: row;
            justify-self: center;
            a.dot {
                margin: auto 0;
                aspect-ratio: 1/1;
                height: 4rem;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                div {
                    aspect-ratio: 1/1;
                    height: 0.75rem;
                    background-color: colors.$light-grey;
                    border-radius: 100%;
                }
                &.active div {
                    background-color: colors.$magenta;
                    &.purple {
                        background-color: colors.$purple;
                    }
                    &.yellow {
                        background-color: colors.$yellow;
                    }
                    &.cyan {
                        background-color: colors.$cyan;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    a.more {
        height: fit-content;
        line-height: 1;
        margin: auto 0;
        align-self: flex-end;
    }
}