@use "colors";
@use "meta";

.carousel-wrapper {
    .carousel {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        .slide {
            min-width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 3rem;
            transition: all 1s ease-in-out;
            .item {
                position: relative;
                justify-content: center;
                &:hover {
                    filter: none;
                }
                img {
                    width: 100%;
                    height: auto;
                }
                &.labeled {
                    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
                    img {
                        z-index: -1;
                    }
                    .item-label {
                        position: absolute;
                        overflow: hidden;
                        bottom: 1.5rem;
                        left: 0;
                        padding: 0rem 1rem;
                        max-height: 50%;
                    }
                }
            }
        }
    }
    .controls {
        width: fit-content;
        margin: 0 auto;
        height: 2rem;
        .dot {
            margin: auto 0;
            width: 1rem;
            height: 1rem;
            border: none;
            div {
                width: 0.5rem;
                height: 0.5rem;
                background-color: grey;
                border-radius: 100%;
            }
            &.active div {
                background-color: purple;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    button.more {
        color: white;
        align-self: flex-end;
        width: fit-content;
    }
    /* FROM _colors.scss
    $magenta: #E2007A;
    $yellow: #FFCC00;
    $cyan: #008BD0;
    $purple: #6D1F80;
    */
    &.magenta {
        button.more {
            background-color: colors.$magenta;
        }
        .dot.active div {
            background-color: colors.$magenta;
        }
    }
    &.yellow {
        button.more {
            color: colors.$black;
            background-color: colors.$yellow;
        }
        .dot.active div {
            background-color: colors.$yellow;
        }
    }
    &.cyan {
        button.more {
            background-color: colors.$cyan;
        }
        .dot.active div {
            background-color: colors.$cyan;
        }
    }
    &.purple {
        button.more {
            background-color: colors.$purple;
        }
        .dot.active div {
            background-color: colors.$purple;
        }
    }
}