@use "colors";

#challenges {
    .cards {
        justify-content: space-between;
        .card {
            overflow: hidden;
            h3 {
                text-align: center;
                font-weight: 600;
            }
            img {
                aspect-ratio: 1/1;
            }
        }
    }
    .gc, .gc a {
        color: colors.$magenta;
    }
    .cc, .cc a {
        color: colors.$yellow;
    }
    .lp, .lp a {
        color: colors.$cyan;
    }
    a {
        align-self: center;
        color: colors.$black;
    }
}