#challenges {
    .cards {
        justify-content: space-between;
        .card {
            overflow: hidden;
            h3 {
                font-weight: 600;
            }
            img {
                aspect-ratio: 1/1;
            }
        }
    }
    .gc {
        color: #E2007A;
    }
    .cc {
        color: #FFCC00;
    }
    .lp {
        color: #008BD0;
    }
    button {
        align-self: flex-end;
    }
}