@use "colors";
@use "functional-elements";

#challenges {
    .cards {
        align-items: flex-end;
        justify-content: space-between;
        .card {
            overflow: hidden;
            h3 {
                text-align: left;
                font-weight: 600;
            }
            img {
                aspect-ratio: 1/1;
                max-width: 85vw;
            }
        }
    }
    .gc {
        color: colors.$magenta;
    }
    .cc {
        color: colors.$yellow;
    }
    .lp {
        color: colors.$cyan;
    }
    a {
        align-self: end;
        @include functional-elements.outline-button(colors.$white, colors.$black);
        border-width: 0.1rem;
    }
}