// challenges
$magenta: #E2007A;
$yellow: #FFCC00;
$cyan: #008BD0;
$red: #FF0000;

$purple: #6D1F80;

$black: #232323;
$grey: #6F6F6F;
$light-grey: #C6C6C6;
$white: #FFFFFF;

.color-white {
    color: $white !important;
}
.color-black {
    color: $black !important;
}
.color-red, .error {
    color: $red !important;
}
.color-magenta {
    color: $magenta !important;
}
.color-yellow {
    color: $yellow !important;
}
.color-cyan {
    color: $cyan !important;
}
.color-purple {
    color: $purple !important;
}


.bg-magenta {
    background-color: $magenta !important;
}
.bg-yellow {
    background-color: $yellow !important;
}
.bg-cyan {
    background-color: $cyan !important;
}
.bg-purple {
    background-color: $purple !important;
}

.dark-bg {
    color: $white;
    background-color: $black;
}
.light-bg {
    color: $black;
    background-color: $white;
}