@use "mixins";

.main {
    height: 850px;
    position: relative;
    .banner-img {
        width: 50%;
        object-fit: cover;
        height: 730px;
    }
    .text-wrapper {
        padding: 3rem;
        position: absolute;
        z-index: 1;
        bottom: 5rem;
        right: 0;
        width: 55%;
        box-sizing: border-box;
    }
    @include mixins.narrow {
        height: fit-content;
        .banner-img {
            display: none;
        }
        .text-wrapper {
            width: 100%;
            position: relative;
        }
    }
    
}