@use "mixins";

.w-50 {
    width: 50%;
    @include mixins.mobile {
        width: 100%;
    }
}
.w-100 {
    width: 100%;
}

.v-center {
    align-items: center;
}
.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.mobile-col {
    @include mixins.mobile {
        display: flex;
        flex-direction: column;
    }
}

.between {
    justify-content: space-between;
}
.around {
    justify-content: space-around;
}

.gap-1 {
    gap: 1rem;
}
.gap-2 {
    gap: 2rem;
}
.gap-3 {
    gap: 3rem;
}

.fg-1 {
    flex-grow: 1;
}

.indented {
    > *:not(h1, h2, h3, h4, h5, h6) {
        margin-left: 2rem;
    }
}