@use "colors";
@use "mixins";

#mobile-navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: colors.$white;
    padding: 5rem;
    box-sizing: border-box;
    a {
        font-size: 3rem;
        color: colors.$black;
        &:last-of-type {
            margin-top: auto;
        }
    }
    .close {
        position: absolute;
        top: 0%;
        right: 5%;
        font-size: 5rem;
    }
}

nav {
    position: relative;
    width: 100%;
    z-index: 2;
    * {
        align-items: center;
    }
    .wrapper {
        height: 100%;
        justify-content: space-between;
    }
    &#navbar {
        height: 9.5rem;
        color: white;
        a.logo {
            height: fit-content;
            line-height: 1;
        }
        a {
            font-family: Open-Sans-Condensed;
            font-size: 1.875rem;
            font-weight: 700;
        }
        .login-button {
            > * {
                font-size: 3rem;
                height: 3rem;
                width: 3rem;
            }
        }
        .narrow {
            display: none;
        }
        @include mixins.mobile {
            .login-button, .links {
                display: none;
            }
            .narrow {
                display: inline-block;
            }
        }
    }
    &#tud-navbar {
        height: 5rem;
        background-color: colors.$white;
        color: colors.$black;
        .logo img {
            height: 2.8rem;
        }
        .links img {
            height: 1.5rem;
        }
        a {
            color: colors.$black;
        }
    }
}