@use "colors";

#projekte, #about {
    .controls {
        grid-template-rows: auto 0 1fr 1fr;
        #project-count {
            height: fit-content;
            align-self: center;
        }
    }
}

.pro-item {
    position: relative;
    justify-content: center;
    aspect-ratio: 4/3;
    &:hover {
        filter: none;
    }
    &.labeled {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .item-label {
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.8);
            position: absolute;
            bottom: 0;
            left: 0;
            height: 4rem;
            width: 100%;
            transition: height 0.6s ease-in;
            .text-wrapper {
                height: 80%;
                box-sizing: border-box;
                margin: 0.5rem 1rem;
                overflow: hidden;
                p {
                    font-size: 1.25rem;
                    line-height: 1.3;
                }
            }
        }
        &:hover .item-label {
            height: auto;
        }
    }
}