#sponsoren-tierlist {
    *:not(h1) {
        text-align: center;
    }
    .row {
        flex-wrap: wrap;
        justify-content: center;
    }
    .sponsor {
        height: auto;
        width: 10rem;
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}