table {
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
    &.slim {
        width: fit-content;
    }
    &.center th,
    &.center td {
        text-align: center;
    }
    th {
        background-color: rgb(50, 50, 50);
        color: white;
        text-align: left;
    }
    th, td {
        padding: 5px 15px;
    }
    th {
        font-weight: 600;
    }
    tr:nth-child(2n) td {
        background-color: rgb(240, 240, 240);
    }
}