table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    &.center {
        text-align: center;
    }
    th, td {
        padding: 12px;
        border: none;
    }
    th {
        font-weight: 600;
    }
    tr:nth-of-type(2n-1) {
        background-color: rgb(247, 247, 247);
    }
    tr:nth-of-type(2n) {
        background-color: rgb(252, 252, 252);
    }
}