@use "colors";

#timeline {
    .time {
        font-family: Open-Sans-Condensed;
        font-weight: 600;
        .hours {
            font-size: 10rem;
            line-height: 10rem;
            letter-spacing: -20px;
            padding-right: 20px;
        }
        .minutes {
            font-size: 5rem;
        }
    }
    .text-content {
        margin-top: 2rem;
        margin-left: 1rem;
        padding-left: 1rem;
        border-left: 0.2rem solid colors.$black;
        &.active h3,
        h3:hover {
            color: colors.$magenta;
        }
        &.active h3 .flip-me {
            transform: rotate(180deg);
        }
        h3 {
            margin-top: 0.4rem;
            &:hover {
                cursor: pointer;
            }
            .flip-me {
                margin-left: 1rem;
            }
        }
        p {
            margin-top: 1.2rem;
        }
    }
}