body {
  font-family: Open-Sans;
  font-weight: 400;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Open-Sans-Condensed;
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  font-size: 7.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

h4 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

a, p, td, th, li, ul, select, input, textarea, label, code {
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
}

code {
  font-size: 1.5625rem;
  background-color: rgb(250, 250, 250);
}

.fat, b {
  font-weight: 700;
}

@font-face {
  font-family: Open-Sans;
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans-Condensed;
  src: url("../fonts/OpenSans_Condensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans-Condensed;
  src: url("../fonts/OpenSans_Condensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans-Condensed;
  src: url("../fonts/OpenSans_Condensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans-Condensed;
  src: url("../fonts/OpenSans_Condensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans-Condensed;
  src: url("../fonts/OpenSans_Condensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans-Condensed;
  src: url("../fonts/OpenSans_Condensed-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
.color-white {
  color: white;
}

.color-black {
  color: #232323;
}

.color-magenta {
  color: #E2007A;
}

.color-yellow {
  color: #FFCC00;
}

.color-cyan {
  color: #008BD0;
}

.color-purple {
  color: #6D1F80;
}

.bg-magenta {
  background-color: #E2007A;
}

.bg-yellow {
  background-color: #FFCC00;
}

.bg-cyan {
  background-color: #008BD0;
}

.bg-purple {
  background-color: #6D1F80;
}

.dark-bg {
  color: #FFFFFF;
  background-color: #232323;
}

.light-bg {
  color: #232323;
  background-color: #FFFFFF;
}

.w-50 {
  width: 50%;
}
@media (max-width: 768px) {
  .w-50 {
    width: 100%;
  }
}

.w-100 {
  width: 100%;
}

.all-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.v-center {
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.wrapped {
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .mobile-col {
    display: flex;
    flex-direction: column;
  }
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.fg-1 {
  flex-grow: 1;
}

.indented > *:not(h1, h2, h3, h4, h5, h6) {
  margin-left: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.r1 {
  grid-row: 1;
}

.r2 {
  grid-row: 2;
}

.r3 {
  grid-row: 3;
}

.r4 {
  grid-row: 4;
}

.c1 {
  grid-column: 1;
}

.c2 {
  grid-column: 2;
}

.c3 {
  grid-column: 3;
}

.c4 {
  grid-column: 4;
}

button, input[type=submit] {
  position: relative;
  font-family: Open-Sans-Condensed;
  font-weight: 700;
  border: none;
  border-radius: 0px;
  font-size: 2.75rem;
  padding: 0rem 2rem;
}
button:hover, input[type=submit]:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
button.white:hover, input[type=submit].white:hover {
  filter: brightness(0.8);
}
button.transparent-text, input[type=submit].transparent-text {
  mix-blend-mode: screen;
  background: none;
  color: black;
}
button.transparent-text::before, input[type=submit].transparent-text::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  content: "";
  mix-blend-mode: color-burn;
}
button.more, input[type=submit].more {
  font-size: 1.5625rem;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
}

input[type=submit] {
  font-size: 1.5625rem;
  padding: 0 2rem;
}

a {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #FFFFFF;
}
a:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
a.active {
  border-bottom: 0.2rem solid #FFFFFF;
}
a.black {
  color: #232323;
}

select, .labeled-checkbox {
  border-radius: 0px;
  border: none;
  padding: 0.75rem 1rem;
  color: #FFFFFF;
}

.dropdown {
  background-color: #E2007A;
  position: relative;
}
.dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #E2007A;
  width: 100%;
}
.dropdown select option {
  background-color: transparent;
}
.dropdown.transparent {
  background-color: transparent;
  border: 0.1rem solid #C6C6C6;
  color: #C6C6C6;
}
.dropdown.transparent select {
  background-color: transparent;
  color: #C6C6C6;
}
.dropdown.transparent select option {
  background-color: #FFFFFF;
  color: #232323;
}
.dropdown.transparent:hover {
  border-color: #6F6F6F;
}
.dropdown.transparent:hover select {
  color: #6F6F6F;
}
.dropdown.transparent::after {
  color: #C6C6C6;
}
.dropdown::after {
  content: "";
  background: url("/wp-content/themes/2025/static/svg/arrow-full.svg") no-repeat center;
  color: #FFFFFF;
  background-size: contain;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
}

.labeled-checkbox, .labeled-checkbox * {
  cursor: pointer;
}

.labeled-checkbox {
  background-color: #6F6F6F;
  display: flex;
  flex-direction: row;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.25rem;
}
.labeled-checkbox span {
  flex-grow: 1;
}
.labeled-checkbox.transparent {
  background-color: transparent;
  color: #C6C6C6;
  border-color: #C6C6C6;
}
.labeled-checkbox.transparent input[type=checkbox] {
  border-color: #C6C6C6;
}
.labeled-checkbox.transparent:has(input[type=checkbox]:checked) {
  color: #6F6F6F;
  border-color: #6F6F6F;
}
.labeled-checkbox.transparent:has(input[type=checkbox]:checked) input[type=checkbox] {
  border-color: #6F6F6F;
}
.labeled-checkbox.transparent:has(input[type=checkbox]:checked) input[type=checkbox]::after {
  border-color: #6F6F6F;
}
.labeled-checkbox:not(.transparent):has(input[type=checkbox]:checked) {
  background-color: #E2007A;
}
.labeled-checkbox input[type=checkbox] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: auto;
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1/1;
  border: 0.2rem solid #FFFFFF;
  border-radius: 0.1rem;
  margin: auto 1rem;
}
.labeled-checkbox input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  left: 0.2rem;
  top: -0.2rem;
  width: 0.5rem;
  height: 1rem;
  border: solid #FFFFFF;
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}

input:not([type=checkbox], [type=submit], [type=file]), textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0px;
  border: 0.1rem solid #C6C6C6;
  box-sizing: border-box;
}
input:not([type=checkbox], [type=submit], [type=file]):focus, textarea:focus {
  border-color: transparent !important;
  outline: 0.2rem solid #E2007A;
  border-color: transparent;
}

textarea {
  height: 100%;
  min-height: 4.5rem;
  resize: vertical;
  line-height: 1;
}

.labeled-input {
  position: relative;
  width: 100%;
}
.labeled-input label {
  line-height: 1;
  color: #C6C6C6;
  position: absolute;
  left: 1rem;
  top: 1.3rem;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.labeled-input:focus-within input, .labeled-input:focus-within textarea, .labeled-input.has-content input, .labeled-input.has-content textarea, .labeled-input:hover input, .labeled-input:hover textarea {
  border-color: #6F6F6F;
}
.labeled-input:focus-within label, .labeled-input.has-content label, .labeled-input:hover label {
  font-size: 1rem;
  top: -0.6rem;
  padding: 0rem 1rem;
  color: #6F6F6F;
  background-color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}

[dd-function=file-upload-trigger] {
  box-sizing: border-box;
  border: 0.1rem solid #C6C6C6;
  color: #C6C6C6;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
[dd-function=file-upload-trigger]:hover {
  cursor: pointer;
  border-color: #6F6F6F;
  color: #6F6F6F;
}
[dd-function=file-upload-trigger] * {
  pointer-events: none;
}
[dd-function=file-upload-trigger] .icon svg {
  scale: 1;
}
[dd-function=file-upload-trigger].col .icon svg {
  font-size: 15rem;
}
[dd-function=file-upload-trigger].row .icon svg {
  font-size: 10rem;
}
[dd-function=file-upload-trigger] img.preview {
  display: none;
}
[dd-function=file-upload-trigger].uploaded {
  padding: 0px;
}
[dd-function=file-upload-trigger].uploaded > *:not(img.preview) {
  display: none;
}
[dd-function=file-upload-trigger].uploaded img.preview {
  display: block;
  max-width: 100%;
  height: auto;
}

[dd-function=file-upload-input] {
  display: none;
}

[dd-function=expandable] [dd-function=trigger] {
  cursor: pointer;
}

iframe.youtube-video {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

table {
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
}
table.slim {
  width: -moz-fit-content;
  width: fit-content;
}
table.center th, table.center td {
  text-align: center;
}
table th {
  background-color: rgb(50, 50, 50);
  color: white;
  text-align: left;
}
table th, table td {
  padding: 5px 15px;
}
table th {
  font-weight: 600;
}
table tr:nth-child(2n) td {
  background-color: rgb(240, 240, 240);
}

form.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.4rem;
}
form.grid .file-upload {
  min-height: 50vh;
  width: 100% !important;
  padding: 0 !important;
}
form.grid > .full {
  grid-column: 1/span 2;
}
form input[type=submit] {
  width: -moz-fit-content;
  width: fit-content;
}

#projekt-einreichen .grid {
  grid-template-rows: auto auto auto 1fr;
}

#creative-challenge .grid {
  grid-template-rows: auto auto auto auto 1fr;
}

.modal-wrapper {
  position: absolute;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-wrapper .modal {
  position: sticky;
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 5px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 40% 1fr auto;
}
.modal-wrapper .modal .headline {
  grid-column: span 2;
}
.modal-wrapper .modal .close-modal {
  font-size: 2rem;
  margin-right: 1rem;
}
.modal-wrapper .modal img {
  max-width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal-wrapper .modal .desc {
  grid-column: 2/span 2;
  overflow-y: scroll;
  max-height: 80vh;
}

nav {
  position: relative;
  width: 100%;
  z-index: 2;
}
nav * {
  align-items: center;
}
nav .wrapper {
  height: 100%;
  justify-content: space-between;
}
nav#navbar {
  height: 9.5rem;
  color: white;
}
nav#navbar a.logo {
  height: -moz-fit-content;
  height: fit-content;
}
nav#navbar a {
  font-family: Open-Sans-Condensed;
  font-size: 1.875rem;
  font-weight: 700;
}
nav#navbar .login-button > * {
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
}
@media (max-width: 768px) {
  nav#navbar .login-button, nav#navbar .links {
    display: none;
  }
}
nav#tud-navbar {
  height: 5rem;
  background-color: #FFFFFF;
  color: #232323;
}
nav#tud-navbar .logo img {
  height: 2.8rem;
}
nav#tud-navbar .links img {
  height: 1.5rem;
}
nav#tud-navbar a {
  color: #232323;
}

#banner {
  display: flex;
  flex-direction: column;
  align-self: end;
  color: #FFFFFF;
}
#banner .wrapper {
  position: relative;
}
#banner .wrapper .text-content {
  margin-bottom: 12rem;
  gap: 2rem;
  width: 55%;
}
@media (max-width: 768px) {
  #banner .wrapper .text-content {
    width: 100%;
  }
}
#banner .wrapper .cube-unfolded {
  position: absolute;
  height: 42rem;
  left: 70%;
  top: -65px;
}
@media (max-width: 768px) {
  #banner .wrapper .cube-unfolded {
    display: none;
  }
}
#banner.slim:not(.cube) {
  height: -moz-fit-content;
  height: fit-content;
}
#banner.slim:not(.cube) .wrapper .text-content {
  margin-bottom: 4rem;
  gap: 1rem;
  width: 100%;
}
#banner.slim:not(.cube) .wrapper .cube-unfolded {
  display: none;
}
#banner.slim.cube .cube-unfolded {
  top: 289px;
}

#footer .last-line {
  justify-content: space-between;
  align-items: center;
}
#footer .last-line a {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
}
#footer .last-line a img {
  height: 1.2rem;
  filter: invert(100%);
}
#footer .divided {
  position: relative;
}
#footer .divided:not(:last-of-type)::after {
  content: "";
  position: absolute;
  border-left: 0.2rem solid white;
  right: -1.1rem;
  top: 22%;
  height: 60%;
}
#footer .row {
  flex-wrap: wrap;
}
#footer .dot {
  display: inline-block;
  height: 0.8rem;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 100%;
  margin: 0.1rem 0.5rem;
}

.h-line {
  width: 100%;
  border: solid 1px white;
  margin: 2rem 0;
}

.main {
  height: 850px;
  position: relative;
}
.main .banner-img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 730px;
}
.main .text-wrapper {
  padding: 3rem;
  position: absolute;
  z-index: 1;
  bottom: 5rem;
  right: 0;
  width: 55%;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .main {
    height: -moz-fit-content;
    height: fit-content;
  }
  .main .banner-img {
    display: none;
  }
  .main .text-wrapper {
    width: 100%;
    position: relative;
  }
}

#sponsoren-tierlist *:not(h1) {
  text-align: center;
}
#sponsoren-tierlist .row {
  flex-wrap: wrap;
  justify-content: center;
}
#sponsoren-tierlist .sponsor {
  height: auto;
  width: 10rem;
}
#sponsoren-tierlist .sponsor img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#challenges .cards {
  justify-content: space-between;
}
#challenges .cards .card {
  overflow: hidden;
}
#challenges .cards .card h3 {
  text-align: center;
  font-weight: 600;
}
#challenges .cards .card img {
  aspect-ratio: 1/1;
}
#challenges .gc, #challenges .gc a {
  color: #E2007A;
}
#challenges .cc, #challenges .cc a {
  color: #FFCC00;
}
#challenges .lp, #challenges .lp a {
  color: #008BD0;
}
#challenges a {
  align-self: center;
  color: #232323;
}

.carousel-wrapper .carousel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.carousel-wrapper .carousel .slide {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  transition: all 1s ease-in-out;
}
.carousel-wrapper .carousel .slide .item {
  position: relative;
  justify-content: center;
}
.carousel-wrapper .carousel .slide .item:hover {
  filter: none;
}
.carousel-wrapper .carousel .slide .item img {
  width: 100%;
  height: auto;
}
.carousel-wrapper .carousel .slide .item.labeled {
  background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
.carousel-wrapper .carousel .slide .item.labeled img {
  z-index: -1;
}
.carousel-wrapper .carousel .slide .item.labeled .item-label {
  position: absolute;
  overflow: hidden;
  bottom: 1.5rem;
  left: 0;
  padding: 0rem 1rem;
  max-height: 50%;
}
.carousel-wrapper .carousel-controls {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
}
.carousel-wrapper .carousel-controls a.more {
  height: 3rem;
  line-height: 3rem;
  align-self: flex-end;
  color: #232323;
  border: 0.2rem solid #232323;
  font-weight: 600;
  padding: 0 1rem;
}
.carousel-wrapper .carousel-controls a.more:hover {
  filter: none;
  background-color: #232323;
  color: #FFFFFF;
}
.carousel-wrapper .carousel-controls a.more.magenta {
  color: #E2007A;
  border: 0.2rem solid #E2007A;
  font-weight: 600;
  padding: 0 1rem;
}
.carousel-wrapper .carousel-controls a.more.magenta:hover {
  filter: none;
  background-color: #E2007A;
  color: #FFFFFF;
}
.carousel-wrapper .carousel-controls a.more.purple {
  color: #6D1F80;
  border: 0.2rem solid #6D1F80;
  font-weight: 600;
  padding: 0 1rem;
}
.carousel-wrapper .carousel-controls a.more.purple:hover {
  filter: none;
  background-color: #6D1F80;
  color: #FFFFFF;
}
.carousel-wrapper .carousel-controls a.more.yellow {
  color: #FFCC00;
  border: 0.2rem solid #FFCC00;
  font-weight: 600;
  padding: 0 1rem;
}
.carousel-wrapper .carousel-controls a.more.yellow:hover {
  filter: none;
  background-color: #FFCC00;
  color: #FFFFFF;
}
.carousel-wrapper .carousel-controls a.more.cyan {
  color: #008BD0;
  border: 0.2rem solid #008BD0;
  font-weight: 600;
  padding: 0 1rem;
}
.carousel-wrapper .carousel-controls a.more.cyan:hover {
  filter: none;
  background-color: #008BD0;
  color: #FFFFFF;
}
.carousel-wrapper .carousel-controls .slide-dots {
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 1rem;
}
.carousel-wrapper .carousel-controls .slide-dots a.dot {
  margin: auto 0;
  aspect-ratio: 1/1;
  height: 3rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-wrapper .carousel-controls .slide-dots a.dot div {
  aspect-ratio: 1/1;
  height: 0.5rem;
  background-color: #C6C6C6;
  border-radius: 100%;
}
.carousel-wrapper .carousel-controls .slide-dots a.dot.active div {
  background-color: #E2007A;
}
.carousel-wrapper .carousel-controls .slide-dots a.dot.active div.purple {
  background-color: #6D1F80;
}
.carousel-wrapper .carousel-controls .slide-dots a.dot.active div.yellow {
  background-color: #FFCC00;
}
.carousel-wrapper .carousel-controls .slide-dots a.dot.active div.cyan {
  background-color: #008BD0;
}
.carousel-wrapper .carousel-controls .slide-dots a.dot:hover {
  cursor: pointer;
}

#timeline .time {
  font-family: Open-Sans-Condensed;
  font-weight: 600;
}
#timeline .time .hours {
  font-size: 10rem;
  line-height: 10rem;
  letter-spacing: -12px;
  padding-right: 20px;
}
#timeline .time .minutes {
  font-size: 5rem;
}
#timeline .text-content {
  margin-top: 2rem;
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 0.2rem solid #232323;
}
#timeline .text-content.active h3 {
  color: #E2007A;
}
#timeline .text-content h3 {
  margin-top: 0.4rem;
}
#timeline .text-content h3 .icon {
  margin-left: 1rem;
}
#timeline .text-content p {
  margin-top: 1.2rem;
}

#projekte .controls, #about .controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 0 1fr 1fr;
  gap: 1.5rem;
}
#projekte .controls #project-count, #about .controls #project-count {
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
}
#projekte .pro-grid, #about .pro-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.pro-item {
  position: relative;
  justify-content: center;
  aspect-ratio: 4/3;
}
.pro-item:hover {
  filter: none;
}
.pro-item.labeled img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.pro-item.labeled .item-label {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  transition: height 0.6s ease-in;
}
.pro-item.labeled .item-label .text-wrapper {
  height: 80%;
  box-sizing: border-box;
  margin: 0.5rem 1rem;
  overflow: hidden;
}
.pro-item.labeled .item-label .text-wrapper p {
  font-size: 1.25rem;
  line-height: 1.3;
}
.pro-item.labeled:hover .item-label {
  height: auto;
}

.elevated-box {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1rem 2rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
}

.icon {
  display: inline-block;
  font-size: inherit;
}
.icon svg {
  scale: 2;
}

.flip {
  transform: rotate(180deg);
}

html {
  font-size: 75%;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 1rem;
  color: #232323;
  background-color: #FFFFFF;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0px, rgba(0, 0, 0, 0.2) 250px), url("/wp-content/uploads/2025/04/Banner.jpg");
  background-position: center -0px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100vh;
}
@media (min-width: 1600px) {
  body {
    background-size: 100vw auto;
  }
}
body#about {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0px, rgba(0, 0, 0, 0.2) 250px), url("/wp-content/uploads/2025/04/about-banner-1.jpg");
  background-position: center -0px;
}
body#programm {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 250px, rgba(0, 0, 0, 0.2) 500px), url("/wp-content/uploads/2025/04/programm-banner-scaled.jpg");
  background-position: center -250px;
}
body#impressionen {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 400px, rgba(0, 0, 0, 0.2) 650px), url("/wp-content/uploads/2025/04/impressionen-banner-scaled.jpg");
  background-position: center -400px;
}
body#projekte, body#projekte-einreichen {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 300px, rgba(0, 0, 0, 0.2) 550px), url("/wp-content/uploads/2025/04/projekte-banner.jpg");
  background-position: center -300px;
}

.head {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}
.head.slim {
  height: 66vh;
}
.head.slim .big-unfolded {
  display: none;
}

.wrapper {
  width: 66vw;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    width: 95vw;
  }
}
@media (min-width: 1600px) {
  .wrapper {
    width: 50vw;
  }
}

.mobile-only {
  display: none;
}
@media (max-width: 768px) {
  .mobile-only {
    display: initial;
  }
}

body > .light-bg,
body > .dark-bg {
  padding: 7rem 0rem;
}/*# sourceMappingURL=main.css.map */