body {
  font-family: Open-Sans;
  font-weight: 400;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Open-Sans-Condensed;
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  font-size: 7.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

h4 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

p, td, th, li, ul, select, input, textarea, label {
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
}

code {
  font-size: 1.5625rem;
  background-color: rgb(250, 250, 250);
}

.fat, b {
  font-weight: 700;
}

@font-face {
  font-family: Open-Sans;
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans-Condensed;
  src: url("../fonts/OpenSans_Condensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans-Condensed;
  src: url("../fonts/OpenSans_Condensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans-Condensed;
  src: url("../fonts/OpenSans_Condensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans-Condensed;
  src: url("../fonts/OpenSans_Condensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans-Condensed;
  src: url("../fonts/OpenSans_Condensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Open-Sans-Condensed;
  src: url("../fonts/OpenSans_Condensed-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
.color-white {
  color: white;
}

.color-black {
  color: #232323;
}

.color-magenta {
  color: #E2007A;
}

.color-yellow {
  color: #FFCC00;
}

.color-cyan {
  color: #008BD0;
}

.color-purple {
  color: #6D1F80;
}

.bg-magenta {
  background-color: #E2007A;
}

.bg-yellow {
  background-color: #FFCC00;
}

.bg-cyan {
  background-color: #008BD0;
}

.bg-purple {
  background-color: #6D1F80;
}

.dark-bg {
  color: #FFFFFF;
  background-color: #232323;
}

.light-bg {
  color: #232323;
  background-color: #FFFFFF;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.v-center {
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.fg-1 {
  flex-grow: 1;
}

.indented > *:not(h1, h2, h3, h4, h5, h6) {
  margin-left: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.grid-c1 {
  grid-column: 1;
}

.grid-c2 {
  grid-column: 2;
}

button, input[type=submit] {
  position: relative;
  font-family: Open-Sans-Condensed;
  font-weight: 700;
  border: none;
  border-radius: 0px;
  font-size: 2.75rem;
  padding: 0rem 0.5rem;
}
button:hover, input[type=submit]:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
button.white:hover, input[type=submit].white:hover {
  filter: brightness(0.8);
}
button.transparent-text, input[type=submit].transparent-text {
  mix-blend-mode: screen;
  background: none;
  color: black;
}
button.transparent-text::before, input[type=submit].transparent-text::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  content: "";
  mix-blend-mode: color-burn;
}
button.more, input[type=submit].more {
  font-size: 1.5625rem;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
}

input[type=submit] {
  font-size: 1.5625rem;
  padding: 0 2rem;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
a.active {
  border-bottom: 0.2rem solid white;
}

select, .labeled-checkbox {
  border-radius: 0px;
  border: none;
  padding: 0.75rem 1rem;
  color: #FFFFFF;
}

.dropdown {
  background-color: #E2007A;
  position: relative;
}
.dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #E2007A;
  width: 100%;
}
.dropdown select option {
  background-color: transparent;
}
.dropdown.transparent {
  background-color: transparent;
  border: 0.1rem solid #6F6F6F;
  color: #6F6F6F;
}
.dropdown.transparent select {
  background-color: transparent;
  color: #6F6F6F;
}
.dropdown::after {
  content: "";
  background: url("/wp-content/themes/2025/static/svg/arrow-full.svg") no-repeat center;
  color: #FFFFFF;
  background-size: contain;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
}

.labeled-checkbox, .labeled-checkbox * {
  cursor: pointer;
}

.labeled-checkbox {
  background-color: #6F6F6F;
  display: flex;
  flex-direction: row;
}
.labeled-checkbox span {
  flex-grow: 1;
}
.labeled-checkbox:has(input[type=checkbox]:checked) {
  background-color: #E2007A;
}
.labeled-checkbox input[type=checkbox] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: auto;
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1/1;
  border: 0.2rem solid #FFFFFF;
  border-radius: 0.1rem;
}
.labeled-checkbox input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  left: 0.2rem;
  top: -0.2rem;
  width: 0.5rem;
  height: 1rem;
  border: solid #FFFFFF;
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}

input:not([type=checkbox], [type=submit]), textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0px;
  border: 0.1rem solid #6F6F6F;
  box-sizing: border-box;
}
input:not([type=checkbox], [type=submit]):focus, textarea:focus {
  outline: 0.2rem solid #E2007A;
  border-color: transparent;
}

textarea {
  height: 100%;
  min-height: 4.5rem;
  resize: vertical;
  line-height: 1;
}

.labeled-input {
  position: relative;
  width: 100%;
}
.labeled-input label {
  line-height: 1;
  color: #6F6F6F;
  position: absolute;
  left: 1rem;
  top: 1.3rem;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.labeled-input:focus-within label, .labeled-input.has-content label {
  font-size: 1rem;
  top: -0.6rem;
  padding: 0rem 1rem;
  background-color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}

#upload-trigger {
  border: 0.1rem solid #6F6F6F;
  color: #6F6F6F;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
#upload-trigger:hover {
  cursor: pointer;
}
#upload-trigger label {
  pointer-events: none;
}
#upload-trigger img.preview {
  display: none;
}
#upload-trigger.uploaded {
  padding: 0px;
}
#upload-trigger.uploaded > *:not(img.preview) {
  display: none;
}
#upload-trigger.uploaded img.preview {
  display: block;
  max-width: 100%;
  height: auto;
}

#upload-input {
  display: none;
}

[dd-function=expandable] [dd-function=trigger] {
  cursor: pointer;
}
[dd-function=expandable] [dd-function=trigger] img.flip {
  transform: rotate(180deg);
}

table {
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
}
table.slim {
  width: -moz-fit-content;
  width: fit-content;
}
table.center th, table.center td {
  text-align: center;
}
table th {
  background-color: rgb(50, 50, 50);
  color: white;
  text-align: left;
}
table th, table td {
  padding: 5px 15px;
}
table th {
  font-weight: 600;
}
table tr:nth-child(2n) td {
  background-color: rgb(240, 240, 240);
}

form.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 1.4rem;
}
form.grid .file-upload {
  grid-column: 2;
  grid-row: 1/span 3;
  min-height: 50vh;
  width: 100% !important;
  padding: 0 !important;
}

nav {
  position: relative;
  width: 100%;
  z-index: 2;
}
nav * {
  align-items: center;
}
nav .wrapper {
  height: 100%;
  justify-content: space-between;
}
nav#navbar {
  height: 9.5rem;
  color: white;
}
nav#navbar .logo {
  height: 3.75rem;
}
nav#navbar .links {
  font-family: Open-Sans-Condensed;
  margin-top: 10px;
  font-size: 1.875rem;
  font-weight: 700;
}
nav#navbar .login-button {
  margin-top: 3px;
}
nav#tud-navbar {
  height: 5rem;
  background-color: white;
  color: #232323;
}
nav#tud-navbar .logo img {
  height: 2.8rem;
}
nav#tud-navbar .links img {
  height: 1.5rem;
}

#banner {
  height: 100vh;
  margin-top: -14.5rem;
  padding-top: 0.1rem;
  color: white;
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0) 100%);
}
#banner .wrapper {
  margin-top: 14.5rem;
}
#banner .wrapper .text-content {
  padding-top: 8rem;
  gap: 2rem;
  width: 55%;
}
#banner .cube-unfolded {
  position: absolute;
  right: -12rem;
  top: 60px;
}
#banner.slim {
  height: auto;
  padding-bottom: 6rem;
}
#banner.slim .wrapper {
  margin-top: 20rem;
}
#banner.slim .wrapper .text-content {
  margin-top: 6rem;
  width: 100%;
}

.no-big-cube #banner .cube-unfolded {
  display: none;
}

#footer .separator {
  width: 100%;
  border: solid 1px white;
  margin: 2rem 0;
}
#footer .last-line {
  justify-content: space-between;
  align-items: center;
}
#footer .last-line a {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
}
#footer .last-line a img {
  height: 1.2rem;
  filter: invert(100%);
}

.main {
  height: 850px;
  position: relative;
}
.main .banner-img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 730px;
}
.main .text-wrapper {
  padding: 3rem;
  position: absolute;
  z-index: 1;
  bottom: 5rem;
  right: 0;
  width: 55%;
  box-sizing: border-box;
}

#challenges .cards {
  justify-content: space-between;
}
#challenges .cards .card h3 {
  font-weight: 600;
}
#challenges .cards .card img {
  height: 350px;
  width: 350px;
}
#challenges .gc {
  color: #E2007A;
}
#challenges .cc {
  color: #FFCC00;
}
#challenges .lp {
  color: #008BD0;
}
#challenges button {
  align-self: flex-end;
}

.carousel {
  overflow-x: hidden;
  position: relative;
  min-width: 1200px;
  max-width: 1200px;
  /* FROM _colors.scss
  $magenta: #E2007A;
  $yellow: #FFCC00;
  $cyan: #008BD0;
  $purple: #6D1F80;
  */
}
.carousel .canvas {
  transition: margin-left 1s;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.carousel .item {
  position: relative;
  justify-content: center;
  flex: 0 0 200px;
}
.carousel .item:hover {
  filter: none;
}
.carousel .item img {
  width: 100%;
  height: auto;
}
.carousel .item.labeled {
  background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
.carousel .item.labeled img {
  z-index: -1;
}
.carousel .item.labeled .item-label {
  position: absolute;
  overflow: hidden;
  bottom: 1.5rem;
  left: 0;
  padding: 0rem 1rem;
  max-height: 50%;
}
.carousel .controls {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  height: 2rem;
}
.carousel .controls .dot {
  margin: auto 0;
  width: 1rem;
  height: 1rem;
  border: none;
}
.carousel .controls .dot div {
  width: 0.5rem;
  height: 0.5rem;
  background-color: grey;
  border-radius: 100%;
}
.carousel .controls .dot.active div {
  background-color: purple;
}
.carousel .controls .dot:hover {
  cursor: pointer;
}
.carousel button.more {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}
.carousel.magenta button.more {
  background-color: #E2007A;
}
.carousel.magenta .dot.active div {
  background-color: #E2007A;
}
.carousel.yellow button.more {
  color: #232323;
  background-color: #FFCC00;
}
.carousel.yellow .dot.active div {
  background-color: #FFCC00;
}
.carousel.cyan button.more {
  background-color: #008BD0;
}
.carousel.cyan .dot.active div {
  background-color: #008BD0;
}
.carousel.purple button.more {
  background-color: #6D1F80;
}
.carousel.purple .dot.active div {
  background-color: #6D1F80;
}

#timeline .time {
  font-family: Open-Sans-Condensed;
  font-weight: 600;
}
#timeline .time .hours {
  font-size: 10rem;
  line-height: 10rem;
  letter-spacing: -12px;
  padding-right: 20px;
}
#timeline .time .minutes {
  font-size: 5rem;
}
#timeline .text-content {
  margin-top: 2rem;
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 0.2rem solid #232323;
}
#timeline .text-content.active h3 {
  color: #E2007A;
}
#timeline .text-content h3 {
  margin-top: 0.4rem;
}
#timeline .text-content h3 img {
  margin-left: 1rem;
}
#timeline .text-content p {
  margin-top: 1.2rem;
}

#projekte .controls {
  margin: 6rem 0rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr 1fr;
  gap: 1.5rem;
}
#projekte .controls .r1 {
  grid-row: 1;
}
#projekte .controls .r2 {
  grid-row: 2;
}
#projekte .controls .r3 {
  grid-row: 3;
}
#projekte .controls .c1 {
  grid-column: 1;
}
#projekte .controls .c2 {
  grid-column: 2;
}
#projekte .controls .c3 {
  grid-column: 3;
}
#projekte .controls .c4 {
  grid-column: 4;
}
#projekte .pro-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.pro-item {
  position: relative;
  justify-content: center;
  height: 25rem;
}
.pro-item:hover {
  filter: none;
}
.pro-item.labeled img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.pro-item.labeled .item-label {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 22%;
  min-height: 22%;
  width: 100%;
  transition: height 0.25s ease-in;
}
.pro-item.labeled .item-label .text-wrapper {
  height: 80%;
  box-sizing: border-box;
  margin: 0.5rem 1rem;
  overflow: hidden;
}
.pro-item.labeled .item-label .text-wrapper p {
  font-size: 1.25rem;
}
.pro-item.labeled:hover .item-label {
  height: auto;
}

html {
  font-size: 75%;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 1rem;
  color: #232323;
  background-color: #FFFFFF;
  background-image: url("/wp-content/uploads/2025/04/Banner.jpg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-size: fill;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.elevated-box {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1rem 2rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
}/*# sourceMappingURL=main.css.map */